<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/tablasP.css">
    <title>Detalle</title>
</head>
<body>
    <div id="main">
        <h1>{{profesor.id}} |
            {{profesor.nombre}} |
            {{profesor.apellido}} |
            {{profesor.email}} |
            {{profesor.edad}}
        </h1>
        <a href="{{ url_for('profesores') }}">Volver</a>
    </div>
</body>
</html>