{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta chartset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{% static 'css/agregar.css' %}">
        <title>Agregar tutor</title>
    </head>
    <body>
        <form method="POST">
            <table>
                {{formaTutor}}
            </table>
            <button type="submit"> Enviar </button>
            {% csrf_token %}
        </form>
    </body>
</html>