{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta chartset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{% static 'css/tabla.css' %}">
        <title>Bienvenida</title>
    </head>
    <body>
        <div>
            <a href="agregarMateria">Agregar nueva materia</a>
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Detalle</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {%for materia in materias%}
                    <tr>
                        <td>{{materia.id}}</td>
                        <td>{{materia.nombre}}</td>
                        <td><a href="detalleMateria/{{materia.id}}">Detalles</a></td>
                        <td><a href="editarMateria/{{materia.id}}">Editar materia</a></td>
                        <td><a href="eliminarMateria/{{materia.id}}">Eliminar materia</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <a href="{%url 'index'%}">Volver al inicio</a>
        </div>
    </body>
</html>